<header class="main-header">
    <div class="wrapper">
        <nav class="main-nav">
            <a href="" class="brand-name">
                <span class="company-name">NextAdventure</span>
            </a>
            <div class="auth-section">
                <a class="auth-link">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
                </a>
            </div>
        </nav>
        <ul class="services-list pill-list">
            @if(services$ | async; as services){
                @for(service of services; track service; let idx = $index){
                    <li class="service-item pill-item" [ngClass]="idx == 0 ? 'active' : ''">{{service}}</li>
                }
            }
        </ul>
    </div>

</header>