.main-header{
    padding: 2.5rem;
    background-color: var(--primary-color);
    color: #fff;
}

.main-nav{
    padding-bottom: 2.5rem;
    border-bottom: 2px solid var(--active-color);
}

.services-list{
    padding-top: 2.5rem;
}
