.wrapper{
    max-width: 99rem;
    margin: 0 auto;
    width: 90%;
}

.header-text{
    font-size: var(--fs-xl);
    font-weight: var(--fw-xl);
}

.secondary-text{
    font-size: var(--fs-md);
    font-weight: var(--fw-base);
}