.header-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-form-container {
    width: 90%;
    max-width: 55rem;

    >* {
        width: 100%;

        .form-group {
            >* {
                width: 100%;
            }
        }
    }
}

.trending-locations-container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .grid-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 25rem);
        gap: 15px;

        .grid-item {

            &:first-child,
            &:nth-child(2) {
                grid-row: 1 !important;
            }

            &:first-child {
                grid-column: 1 / 4;
            }

            &:nth-child(2) {
                grid-column: 4 / 7;
            }

            &:not(:first-child),
            &:not(:nth-child(2)) {
                grid-row: 2;
            }

            &:nth-child(3) {
                grid-column: 1 / 3;
            }

            &:nth-child(4) {
                grid-column: 3 / 5;
            }

            &:nth-child(5) {
                grid-column: 5 / 7;
            }
        }

        .grid-item {
            padding: 1em;
            border-radius: 10px;
            background-color: aquamarine;

            .location-name {
                font-size: var(--fs-md);
                font-weight: 600;
            }
        }
    }
}

.activity-list {
    display: flex;
    gap: 8px;

    .activity-item {
        font-size: var(--fs-base);
        padding: 0.5em 1em;
        cursor: pointer;

        &.active {
            border: 1px solid #0051a2;
            border-radius: 100vh;
            color: #0051a2;
        }

    }
}

.activity-destination-list {
    display: flex;

    li,
    .act-dest-item {
        flex: 0 0 calc(100% / 5);
        padding: 1rem;

        &:first-child {
            padding-left: 0 !important;
        }

        >* {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        .img-container {
            height: 15rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: aquamarine;
            border-radius: 12px;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        .detail {
            font-size: var(--fs-base);
            font-weight: 600;
        }
    }
}

.destination-blogs {
    .blogs-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 22rem);
        gap: 15px;

        .blog-item {
            background-color: aquamarine;
            padding: 1.5rem;
            border-radius: 15px;

            .label-text{
                font-size: var(--fs-base);
                font-weight: 600;
            }

            &:first-child {
                grid-row: 1 / 3 !important;
                grid-column: 1 / 3 !important;
            }

            &:not(:first-child) {
                grid-column: 2;
            }

            &:nth-child(2) {
                grid-row: 1;
                grid-column: 3 / 4;
            }

            &:nth-child(3) {
                grid-row: 1;
                grid-column: 4 / 5;
            }

            &:nth-child(4) {
                grid-row: 2;
                grid-column: 3 / 4;
            }

            &:nth-child(5) {
                grid-row: 2;
                grid-column: 4 / 5;
            }

        }

    }
}
section{
    padding-top: 3.5rem;
    .header-content{
        padding-bottom: 2rem;
    }
}